<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React.js server-side rendering sample</title>
</head>
<body>
  <div id="app">{{{markup}}}</div>
  <script id="initial-data" type="text/plain" data-json="{{initialData}}"></script>
  <script src="10_bundle.js"></script>
</body>
</html>
